<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>abajo</title>
</head>
<body>
    <h1 id="uno">ESTE ES EL TEXTO UNO</h1>
    <br>

    <div id="dos"></div>
    <br>
    <button onclick="cambiame()">cambiar el texto</button>
    <script>

        function cambiame(){
           document.getElementById("uno").innerHTML

                document.getElementById("dos").innerHTML="saludos desde la parte de abajo"
            }
        
    </script>
</body>
</html>