<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de texto</title>
</head>
<body>
    <h1 id="texto_uno" onclick="canbiar()">saludos desde mi primer texto</h1>


    <script>
         function canbiar(){
             const texto2=document.getElementById("texto_uno");
            
            texto2.innerHTML ="ESTE ES EL SUGUNDO TEXTO"

         }
    </script>
</body>
</html>