<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabajando con texto</title>
</head>
<body>
    <h1>trababajando con inputs</h1>
    <input type="text" name="" id="inpunt" onchange="moyuscula()">
    <script>
        function moyuscula(){
            const grande=document.getElementById("inpunt");

            grande.value=grande.value.toUpperCase();
        }
    </script>
</body>
</html>