<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRACTICANDO</title>
</head>
<body>
 <h1 id="titulo-uno">
     este es mi texto numero uno
 </h1>

 <button onclick="cambiar()">cambiar</button>
 <script>
     function cambiar(){

         const texto_dos = document.getElementById("titulo-uno");
         texto_dos.innerHTML = " SALUDOS DESDE EL TEXTO DOS"
     }
 </script>
</body>
</html>