<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>avengers</title>
</head>
<body>
    <header id="encabezado">
        <h2 class="logo">avengers</h2>
        <input type="checkbox" id="cheked">
        <label for="cheked"class="mostrar-menu">&#8801</label>
        <nav class="menu">
            <a href="">inicio</a>
            <a href="">sobre nosotros</a>
            <a href="">blog</a>
            <label for="cheked"class="esconder-menu">&#215</label>
        </nav>
    </header>

    <section id="banner">
        <div class="banner-contenido">
        <h2><samp> nosotros somos los avengers de</samp><br/>kenji fujimory</h2>
        <a href="#"id="boton">ver video</a>
        </div>
    </section>
   <section id="personas">
        <div class="contenido-personas">
            <img src="thumbs_b_c_42cfc2716e42f5b1453bfaf4ea0e8b01.jpg" alt="kenyi fujumori" height="155" width="140">
            <h4>kenji fujimory</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, repellendus.</p>
            <a href="#"class="boton-saber-mas">saber mas</a>
        </div>
        <div class="contenido-personas">
            <img src="federico pariona.jpg" alt="federico pariona" height="155" width="145">
            <h4>federico pariona</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, repellendus.</p>
            <a href="#"class="boton-saber-mas">saber mas</a>
        </div>
    </section>
    <section id="iconos">
        <div class="contenido-iconos">
            <div>
                <img src="chino.png" alt="confidencialidad"height="50px"width="50px">
                <h6>nos inporta la confidencialidad</h6>
                <p>
                   Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div>
                <img src="confiable (1).png" alt="confiable" 50px" width="50px">
                <h6>confiabilidad para el pueblo</h6>
                <p>
                   Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div id="quitar">
                <img src="hablar.png" alt="hablar" 50px" width="50px">
                <h6>tus mensajes tiene fuerza</h6>
                <p>
                   Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div id="boton-iconos">
            <div>
                <a href="#"class="boton-saber-mas">ver mas</a>
            </div>
        </div>
    </section>
    <section id="formulario">
   <h4>contactanos ahora</h4>
   <form action="">
       <div class="datos-nombre">
         <div class="nombre">
             <label for="texto">ingrese un nombre</label>
             <input type="texto" name="texto" id="texto" placeholder="ingresa un nombre" required>
         </div>
         <div class="email">
            <label for="email">ingrese su email</label>
            <input type="email" name="email" id="email" placeholder="ingresa un email" required>
        </div>
       </div>
       <div class="mensaje">
           <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="aqui escribe el mensaje"></textarea>
       </div>
       <div class="boton-formulario">
           <a href="#" class="boton-saber-mas">enviar</a>
       </div>
   </form>
    </section>
    <footer>
        <p>&copy;2021 los avengers de kenji fujimori</p>
    </footer>
</body>
</html>